* {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
}

html {
    scroll-padding-top: 80px;
}

body {
  background: url(./Assets/image-fond.png) center/cover;
  min-height: 100vh;
  font-size: 1.5rem;
}

nav {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a,
nav a:visited {
  color: white;
}

ul {
  list-style-type: none;
}

header {
  color: black;
  margin: 50px;
  padding: 15px;
  min-height: 100px;
  border: 2px solid rgb(0, 140, 255);
  border-radius: 20px 20px;
  box-shadow: 0px 0px 20px 4px #81cfc6;
  background: rgba(245, 245, 245, 0.788);
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 3px 3px 8px #00000042;
  color: #b91971;
  font-family: "Oswald", sans-serif;
  margin: 10px;
}

img {
  margin: 0 auto;
  padding: 10px;
}

section {
  color: black;
  margin: 50px;
  padding: 15px;
  min-height: 100px;
  border: 2px solid rgb(0, 140, 255);
  border-radius: 20px 20px;
  box-shadow: 0px 0px 20px 4px #81cfc6;
  background: rgba(245, 245, 245, 0.788);
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 3px 3px 8px #00000042;
  color: #b91971;
  font-family: "Oswald", sans-serif;
  margin: 10px;
}

#ps {
  color: rgb(69, 70, 70);
  font-size: 1rem;
}

.flexbox,
.grid,
.absolute {
  border: 2px solid skyblue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-height: 50px;
}

.flexbox ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.flexbox div {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
